.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  color: #5A5A5A;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.checkbox-container input {
  width: 18px;
  height: 18px;
  accent-color: #6C1D5F;
  cursor: pointer;
}

.checkbox-container input:disabled {
  accent-color: #DEDEDE;
}